@import url("openwebrx-header.css");
@import url("openwebrx-globals.css");

.buttons {
    text-align: right;
}

.row .map-input {
    margin: 15px 15px 0;
}

.device {
    margin-top: 20px;
}

.settings-section {
    margin-top: 3em;
}

.settings-section h3 {
    margin-bottom: 1em;
}

h1 {
    margin: 1em 0;
    text-align: center;
}