@import url("openwebrx-header.css");
@import url("openwebrx-globals.css");

body {
    display: flex;
    flex-direction: column;
}

.login-container {
    flex: 1;
    position: relative;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 500px;

    padding: 20px;
    border-radius: 10px;
    border: 1px solid #575757;
    box-shadow: 0 0 20px #000;
}

.login .btn {
    width: 100%;
}

.btn-login {
    height: 50px;
}