html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
}

.sprite {
    background-image: url(../gfx/openwebrx-sprites.png);
    display: inline-block;
}
