[Desktop Entry]
Version=1.0
Name=OpenWebRX
Type=Application
Comment=Web-based software defined radio receiver
Icon=openwebrx
Exec=xdg-open http://localhost:8073/
Categories=Network;HamRadio
